@font-face {
  font-family: "PlusJakartaSans";
  src: url("fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.extra-light {
  font-family: PlusJakartaSans-ExtraLight;
}

.light {
  font-family: PlusJakartaSans-Light;
}

.medium {
  font-family: PlusJakartaSans-Medium;
}

.bold {
  font-family: PlusJakartaSans-Bold;
}

.extra-bold {
  font-family: PlusJakartaSans-ExtraBold;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  top: 60px;
}

/* Navbar */
nav {
  background-color: #fc0;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.logo-nav {
  height: 75%;
}

.nav-link-container {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 10px;
}

.nav-link-container li a {
  text-decoration: none;
  padding: 0 10px;
  color: black;
  font-size: 20px;
}

/* Home section 1 */
.hive {
  display: grid;
  grid-template-columns: repeat(100, 100px);
  height: calc(100vh - 60px);
  overflow: hidden;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(5deg);
  }
}

.hexagon {
  height: 114px;
  width: 100px;
  background: #111;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon:hover {
  background: #fc0;
}

.next-row {
  transform: translateX(50%);
}

.hive > div {
  margin-top: -29px;
  margin-left: -50px;
}
